@model UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded-3">

        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Edit User </h4>
        </div>

        <div class="card-body">

            <form asp-action="Edit" method="post" enctype="multipart/form-data">

                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row">

                    <!-- Image -->
                    <div class="col-md-4 text-center">

                        <label class="form-label fw-bold">Profile Picture</label>

                        <div class="mb-3">
                            <img id="previewImage"
                                 src="@Url.Content($"~/Files/Images/{Model.ProfilePicture}")"
                                 class="rounded-circle shadow"
                                 style="width:160px;height:160px;object-fit:cover;border:3px solid #ddd;" />
                        </div>

                        <input type="file"
                               name="ProfileImage"
                               class="form-control"
                               accept="image/*"
                               onchange="previewFile(event)" />
                    </div>

                    <!-- Data -->
                    <div class="col-md-8">

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label class="form-label">First Name</label>
                                <input asp-for="FirstName" class="form-control" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">Last Name</label>
                                <input asp-for="LastName" class="form-control" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">User Name</label>
                                <input asp-for="UserName" class="form-control" />
                            </div>
                             @if (User.IsInRole("Admin"))
                             {
                            <!--Role-->
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label fw-bold">Role</label>

                                        <select asp-for="RoleName" class="form-select">

                                            <option value="">-- Select Role --</option>

                                            @if (Model.Roles != null)
                                            {
                                                @foreach (var role in Model.Roles)
                                                {
                                                    if (role == Model.RoleName)
                                                    {
                                                        <option value="@role" selected>
                                                            @role
                                                        </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@role">
                                                            @role
                                                        </option>
                                                    }
                                                }
                                            }

                                        </select>

                                    </div>
                                }
                            }
                        </div>
                      
                        <div class="mt-3">
                            <button type="submit" class="btn btn-success px-4">
                                Save Changes
                            </button>

                            <a href="javascript:history.back()"
                               class="btn btn-outline-dark px-4">

                                <i class="fa fa-arrow-left me-2"></i>
                                Back
                            </a>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function previewFile(event) {
            var reader = new FileReader();
            reader.onload = function () {
                document.getElementById('previewImage').src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}