@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_SecurtyLayout.cshtml";
    ViewData["Title"] = "Register";
}

<h3 class="title">Create Account</h3>

<form asp-action="Register">

    <div asp-validation-summary="ModelOnly"
         class="alert alert-danger py-2 mb-3">
    </div>
    <!-- First Name -->
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
        <label>First Name</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <!-- Last Name -->
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
        <label>Last Name</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <!-- Email -->
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <label>Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Username -->
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" placeholder="Username" />
        <label>Username</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <!-- Password -->
    <div class="form-floating mb-3 position-relative">

        <input type="password"
               class="form-control pe-5"
               id="password"
               asp-for="Password"
               placeholder="Password" />

        <label>Password</label>

        <!-- Eye Icon -->
        <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"
           style="cursor:pointer;"
           onmousedown="showPassword('password')"
           onmouseup="hidePassword('password')"
           onmouseleave="hidePassword('password')"
           ontouchstart="showPassword('password')"
           ontouchend="hidePassword('password')">
        </i>
    </div>

    <!-- Confirm Password -->
    <div class="form-floating mb-3 position-relative">

        <input type="password"
               class="form-control pe-5"
               id="confirmPassword"
               asp-for="ConfirmPassword"
               placeholder="Confirm Password" />

        <label>Confirm Password</label>

        <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"
           style="cursor:pointer;"
           onmousedown="showPassword('confirmPassword')"
           onmouseup="hidePassword('confirmPassword')"
           onmouseleave="hidePassword('confirmPassword')"
           ontouchstart="showPassword('confirmPassword')"
           ontouchend="hidePassword('confirmPassword')">
        </i>
    </div>

    <button class="btn btn-primary w-100 mb-3">
        Sign Up
    </button>

    <div class="text-center">
        Already have account?
        <a asp-action="Login" class="auth-link">Login</a>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function showPassword(id) {
        document.getElementById(id).type = "text";
    }

    function hidePassword(id) {
        document.getElementById(id).type = "password";
    }
</script>