@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_SecurtyLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<h3 class="title">Reset Password</h3>

<form asp-action="ResetPassword" method="post">

    <!-- PASSWORD -->
    <div class="form-floating mb-3 position-relative">

        <input type="password"
               class="form-control pe-5"
               id="password"
               asp-for="Password"
               placeholder="New Password" />

        <label>New Password</label>

        <!-- Eye Icon -->
        <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"
           style="cursor:pointer; z-index:5;"
           onmousedown="showPassword('password')"
           onmouseup="hidePassword('password')"
           onmouseleave="hidePassword('password')"
           ontouchstart="showPassword('password')"
           ontouchend="hidePassword('password')">
        </i>

        <span asp-validation-for="Password" class="text-danger"></span>

    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-floating mb-4 position-relative">

        <input type="password"
               class="form-control pe-5"
               id="confirmPassword"
               asp-for="ConfirmPassword"
               placeholder="Confirm Password" />

        <label>Confirm Password</label>

        <!-- Eye Icon -->
        <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"
           style="cursor:pointer; z-index:5;"
           onmousedown="showPassword('confirmPassword')"
           onmouseup="hidePassword('confirmPassword')"
           onmouseleave="hidePassword('confirmPassword')"
           ontouchstart="showPassword('confirmPassword')"
           ontouchend="hidePassword('confirmPassword')">
        </i>

        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    </div>

    <!-- BUTTON -->
    <button class="btn btn-primary w-100 mb-3">
        Reset Password
    </button>

    <!-- BACK -->
    <div class="text-center">
        <a asp-action="Login" class="auth-link">
            Back to Login
        </a>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function showPassword(id) {
        document.getElementById(id).type = "text";
    }

    function hidePassword(id) {
        document.getElementById(id).type = "password";
    }
</script>